input:required {
    border: 1px solid red; /* Красная рамка для обязательных полей */
}    

input:optional {
    border: 1px solid rgb(84, 95, 190);
} 

input:valid { background: rgb(192, 252, 192); /* Зеленый цвет фона */ }

input:invalid { background: #fdd; /* Красный цвет фона */ }


.checkbox:checked{ 
box-shadow: 0 0 0 3px rgba(255,255,0,.5);
} 


p:lang(ru) {color: #00f;} 
p:lang(en) {color: #f00;}